<!--header-->
<%- include('includes/header') %> 
<div class="row">

<!--sidebar-->
<%- include('includes/sidebar') %>


<div class="col-lg-9">
    <h1 class="text-center">are you sure deleted?</h1>
    <div class="row p-3">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <% if(msg!="") {%>
            <div class="alert alert-primary" role="alert">
                <strong><%= msg %></strong>
            </div>
            <% }%>
             
        <form action="/admin/testmonials" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="">Id</label>
                <input type="text" required
                    class="form-control" name="id" id="" aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">*</small>
                </div>
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" required
                    class="form-control" name="name" id="" aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">*</small>
                </div>
                <div class="form-group">
                    <label for="">Heading</label>
                    <input type="text" required
                        class="form-control" name="heading" id="" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">*</small>
                    </div>
                   
                        <div class="form-group">
                          <label for="">Descrption</label>
                          <input type="text" required
                            class="form-control" name="description" id="" aria-describedby="helpId" placeholder="">
                          <small id="helpId" class="form-text text-muted">*</small>
                        </div>
                        <div class="col-sm-6 mb-5">
                            <div class="animate_form field">
                              <label>Image</label>
                              <input type="file" class="form-control" id="image" name="image" accept="image/*" onchange="preView()"  />
                              <input type="hidden" name="update_image" value="" />
                              <div class="upload_img01">
                                
                                  <inm src=""/>
                              </div>
                            </div>
                          </div> 
                        <div class="form-group">
                            <label for="">Status</label>
                            <input type="status" required
                                class="form-control" name="status" id="" aria-describedby="helpId" placeholder="">
                            <small id="helpId" class="form-text text-muted">*</small>
                            </div>
                        <div class="form-group">
                            <label for="">Added_date</label>
                            <input type="date" required
                                class="form-control" name="added_date" id="" aria-describedby="helpId" placeholder="">
                            <small id="helpId" class="form-text text-muted">*</small>
                            </div>
                       <div class="form-group">
                        <label for="">Modify_date</label>
                        <input type="date" required
                            class="form-control" name="modify_date" id="" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted">*</small>
                        </div>
                      
                       
                        <tr><td><td>
                            <a href="/admin/delete8/<%= result1[0].id %>" > <input type="button" value="yes"/></a>
                            <a href="/admin/testmonials"> <input type="button" value="no"/></a>
                        </td></tr> 
        
        </form>
    </div>   
    </div>


</div>


</div>
<!-- <script>
    function add() {
      window.open("http://localhost:8000/admin/testmonials/");
    }
   
  </script> -->

<!--footer-->
<%- include('includes/footer') %> 