<!--header-->
<%- include('includes/header') %> 
<div class="row">

<!--sidebar-->
<%- include('includes/sidebar') %>


<div class="col-lg-9">
    <h1 class="text-center">Are you sure delete?</h1>
    <div class="row p-3">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <% if(msg!="") {%>
            <div class="alert alert-primary" role="alert">
                <strong><%= msg %></strong>
            </div>
            <% }%>
             
            <form action="/admin/enqury" method="post">
                <div class="form-group">
                    <label for="">Id</label>
                    <input type="text" required
                        class="form-control" name="id" id="" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">*</small>
                    </div>
                <div class="form-group">
                <label for="">Name</label>
                <input type="text" required
                    class="form-control" name="name" id="" aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">*</small>
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" required
                        class="form-control" name="email" id="" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">*</small>
                    </div>
                    <div class="form-group">
                        <label for="">Subject</label>
                        <input type="text" required
                            class="form-control" name="subject" id="" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted">*</small>
                        </div>
                       <div class="form-group">
                        <label for="">message</label>
                        <input type="text" required
                            class="form-control" name="message" id="" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted">*</small>
                        </div>
                        <div class="form-group">
                            <label for="">Status</label>
                            <input type="status" required
                                class="form-control" name="status" id="" aria-describedby="helpId" placeholder="">
                            <small id="helpId" class="form-text text-muted">*</small>
                            </div>
                        
                                <div class="form-group">
                                    <label for="">Added_date</label>
                                    <input type="date" required
                                        class="form-control" name="added_date" id="" aria-describedby="helpId" placeholder="">
                                    <small id="helpId" class="form-text text-muted">*</small>
                                    </div>
                                <div class="form-group">
                                    <label for="">Modify_date</label>
                                    <input type="date" required
                                        class="form-control" name="modify_date" id="" aria-describedby="helpId" placeholder="">
                                    <small id="helpId" class="form-text text-muted">*</small>
                                </div>
                                <tr><td><td>
                                    <a href="/admin/delete7/<%= result1[0].id %>" > <input type="button" value="yes"/></a>
                                    <a href="/admin/enqury"> <input type="button" value="no"/></a>
                                </td></tr> 
            </form>
    </div>   
    </div>


</div>


</div>
<!-- <script>
    function add() {
      window.open("http://localhost:8000/admin/enqury");
    }
   
  </script> -->

<!--footer-->
<%- include('includes/footer') %> 






