<!--header-->
<%- include('includes/header') %> 
<div class="row">

<!--sidebar-->
<%- include('includes/sidebar') %>


<div class="col-lg-9">
    <h1 class="text-center">are you sure edit?</h1>
    <div class="row p-3">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <% if(msg!="") {%>
            <div class="alert alert-primary" role="alert">
                <strong><%= msg %></strong>
            </div>
            <% }%>
             
        <form action="/admin/edit_slider" method="post" enctype="multipart/form-data">
            <div class="form-group">
                
              	
                <div class="form-group">
                    <label for="">Id</label>
                    <input type="number" readonly value="<%= result1[0].id %>"
                        class="form-control" name="id" id="" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">*</small>
                    </div>
                    
                    <div class="form-group">
                        <label for="">Title</label>
                        <input type="text" required value="<%= result1[0].title %>"
                            class="form-control" name="title" id="" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted">*</small>
                        </div>
                        <div class="form-group">
                          <label for="">Sequence</label>
                          <input type="text" required value="<%= result1[0].sequence %>"
                              class="form-control" name="sequence" id="" aria-describedby="helpId" placeholder="">
                          <small id="helpId" class="form-text text-muted">*</small>
                          </div>
                    
                        <div class="col-sm-6 mb-5">
                            <div class="animate_form field">
                              <label>Image</label>
                              <input type="file" class="form-control" id="image" name="image" accept="image/*" onchange="preView()" value="<%= result1[0].image %>" />
                              <img src="/assets/upload/<%= result1[0].image %>" style="height:40px;"/>
                              <input type="hidden" name="update_image" value="<%= result1[0].image %>" />
                              <div class="upload_img01">
                                
                                  <inm src=""/>
                              </div>
                            </div>
                          </div> 
                        <div class="form-group">
                            <label for="">Status</label>
                            <input type="status" required value="<%= result1[0].status %>"
                                class="form-control" name="status" id="" aria-describedby="helpId" placeholder="">
                            <small id="helpId" class="form-text text-muted">*</small>
                            </div>
                            <div class="form-group">
                                <label for="">added_date</label>
                                <input type="date" required value="<%= result1[0].added_date %>"
                                    class="form-control" name="added_date" id="" aria-describedby="helpId" placeholder="">
                                <small id="helpId" class="form-text text-muted">*</small>
                                </div>
                                <div class="form-group">
                                    <label for="">Modified_Date</label>
                                    <input type="date" required value="<%= result1[0].modified_date %>"
                                        class="form-control" name="modified_date" id="" aria-describedby="helpId" placeholder="">
                                    <small id="helpId" class="form-text text-muted">*</small>
                                    </div>
            <tr><td><td>
                 <input type="submit" value="update"/>
                <a href="/admin/slider"> <input type="button" value="back"/></a>
            </td></tr>
        
        </form>
    </div>   
    </div>


</div>


</div>
<!-- <script>
    function add() {
      window.open("http://localhost:8000/admin/slider/");
    }
   
  </script> -->

<!--footer-->
<%- include('includes/footer') %> 