<!--header-->
<%- include('includes/header') %> 
      <div class="row">
<!--sidebar-->
<%- include('includes/sidebar') %> 
        <div class="col-lg-9" style="margin-top: 5px;">
            <div class="row ">
                <div class="col-lg-4 mb-3">
                    <a href="/admin/slider">
                        <div class="card">
                        <img src="/icons/student.png" class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Slider</h4>
                            <p class="card-text">(<%= c1 %>)</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 mb-3">
                    <a href="/admin/about">
                        <div class="card">
                        <img src="/icons/student.png" class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">About</h4>
                            <p class="card-text">(<%= c2 %>)</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 mb-3">
                    <a href="/admin/constructions">
                        <div class="card">
                        <img src="/icons/student.png" class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Construction</h4>
                            <p class="card-text">(<%= c3 %>)</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 mb-3">
                    <a href="/admin/services">
                        <div class="card">
                        <img src="/icons/student.png" class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Services</h4>
                            <p class="card-text">(<%= c4 %>)</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 mb-3">
                    <a href="/admin/project_category">
                        <div class="card">
                        <img src="/icons/student.png" class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Project_Category</h4>
                            <p class="card-text">(<%= c5 %>)</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 mb-3">
                    <a href="/admin/project">
                        <div class="card">
                        <img src="/icons/student.png" class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Project</h4>
                            <p class="card-text">(<%= c6 %>)</p>
                        </div>
                    </div>
                    </a>
                </div> 
                <div class="col-lg-4 mb-3">
                    <a href="/admin/enqury">
                        <div class="card">
                        <img src="/icons/student.png" class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Enqury</h4>
                            <p class="card-text">(<%= c7 %>)</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 mb-3">
                    <a href="/admin/testmonials">
                        <div class="card">
                        <img src="/icons/student.png" class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Testmonials</h4>
                            <p class="card-text">(<%= c8 %>)</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 mb-3">
                    <a href="/admin/site_menu">
                        <div class="card">
                        <img src="/icons/student.png" class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Site_Manu</h4>
                            <p class="card-text">(<%= c9 %>)</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 mb-3">
                    <a href="/admin/today_revenu">
                        <div class="card">
                        <img src="/icons/student.png" class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Today-Revenue</h4>
                            <p class="card-text">(<%= c10 %>)</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 mb-3">
                    <a href="/admin/all_revenu">
                        <div class="card">
                        <img src="/icons/student.png" class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">All-Revenue</h4>
                            <p class="card-text">(<%= c11 %>)</p>
                        </div>
                    </div>
                    </a>
                </div>



            </div>
                
         
            
        </div>
      </div>
 <!--footer-->
 <%- include('includes/footer') %> 